:root {
  --primary: #fff;
  --secondary: #6145bf;
  --second-text: #8d8b84;
  --main-text: #3d4047;
  --background: #f5f7fb;
  --shadow: rgba(0, 0, 0, 0.05) 2px 3px 11px;
  --border-radius: 10px;
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
}

#root,
.App,
.layout-container {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--second-text);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.arabic {
  font-family: "Almarai";
}

.layout-container {
  display: flex;
}

.main-content {
  width: 80%;
  background-color: var(--background);
  padding: 40px 100px;
}

.chart-title-container {
  width: 90%;
  margin: 0 auto 20px;
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--second-text);
}

.vue-apexcharts {
  display: flex;
  align-items: center;
}